In [35]:
p = '/storage/groups/ml01/workspace/ignacio.ibarra/theislab/retinal_scRNAseq_integration/data/integration_march_2021/input/input_500_cells.h5ad'
p_sca = '/storage/groups/ml01/workspace/ignacio.ibarra/theislab/retinal_scRNAseq_integration/scIB_run/retinal_march_2021_500_cells/integration/unscaled/hvg/scanorama.h5ad'

In [3]:
import scanpy as sc

In [36]:
ad_input = sc.read_h5ad(p)
ad_sca = sc.read_h5ad(p_sca)

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

In [195]:
ad_input.obs.index

Index(['AAACGGGAGCAGACTG-1-0:Wong:0', 'AAAGATGCAAATCCGT-1-0:Wong:0',
       'AAAGCAAAGCTCCCAG-1-0:Wong:0', 'AAAGTAGAGCCAGAAC-1-0:Wong:0',
       'AAAGTAGTCATGCATG-1-0:Wong:0', 'AAATGCCCACGCGAAA-1-0:Wong:0',
       'AAATGCCCATGGTAGG-1-0:Wong:0', 'AACCATGAGGATTCGG-1-0:Wong:0',
       'AACCATGAGGTGCTAG-1-0:Wong:0', 'AACGTTGAGGTTACCT-1-0:Wong:0',
       ...
       'TTTACGTTCCGGTAGC-1-14:Chen_b:14', 'TTTACGTTCGGTAGGA-1-14:Chen_b:14',
       'TTTAGTCTCCCAAGCG-1-14:Chen_b:14', 'TTTATGCCATGGATCT-1-14:Chen_b:14',
       'TTTCATGGTCATTCCC-1-14:Chen_b:14', 'TTTGACTCAAGTACCT-1-14:Chen_b:14',
       'TTTGACTGTTGTATGC-1-14:Chen_b:14', 'TTTGGTTCAACCGCCA-1-14:Chen_b:14',
       'TTTGGTTCAAGCGGAT-1-14:Chen_b:14', 'TTTGTTGTCACCGGGT-1-14:Chen_b:14'],
      dtype='object', length=87558)

In [196]:
ad_input.obs.index.value_counts()

CACAGATCACAGAGCA-1-19:Chen_c:19    2
CTTGATTTCCTATTTG-1-1:Chen_c:1      2
CCGTGAGGTGATAGTA-1-4:Scheetz:4     2
CAGCAGCGTGAGATAT-1-2:Scheetz:2     2
AGACTCACACCCAACG-1-4:Hafler:4      2
                                  ..
GATTCTTAGTTGGACG-1-2:Chen_b:2      1
CELL4008421-3:Hackney:3            1
CCTCCTCTCCGCGGAT-1-9:Chen_b:9      1
GGCTTTCAGAGGCCAT-1-29:Chen_a:29    1
TAAGTGCGTTCACGGC-1-2:Sanes:2       1
Length: 69843, dtype: int64

In [41]:
ad_sca.obs.index.value_counts()

CACAGATCACAGAGCA-1-19:Chen_c:19    2
CTTGATTTCCTATTTG-1-1:Chen_c:1      2
CCGTGAGGTGATAGTA-1-4:Scheetz:4     2
CAGCAGCGTGAGATAT-1-2:Scheetz:2     2
AGACTCACACCCAACG-1-4:Hafler:4      2
                                  ..
GATTCTTAGTTGGACG-1-2:Chen_b:2      1
CELL4008421-3:Hackney:3            1
CCTCCTCTCCGCGGAT-1-9:Chen_b:9      1
GGCTTTCAGAGGCCAT-1-29:Chen_a:29    1
TAAGTGCGTTCACGGC-1-2:Sanes:2       1
Length: 69843, dtype: int64

In [26]:
ll ../../data/integration_march_2021/input/

total 125039266
drwxr-xr-x. 2 ignacio.ibarra          11 Apr 18 18:12 bydataset/
-rw-r--r--. 1 ignacio.ibarra  3894492093 Apr 21 09:21 input_1000_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra   889286985 Apr 21 09:12 input_1000_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra  3018091792 Apr 21 09:20 input_1000_cells_part2.h5ad
-rw-r--r--. 1 ignacio.ibarra   111307671 Apr 19 16:55 input_150_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra  7399179519 Apr 21 09:38 input_2000_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra  1620421099 Apr 21 09:26 input_2000_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra  5779137718 Apr 21 09:36 input_2000_cells_part2.h5ad
-rw-r--r--. 1 ignacio.ibarra   216535898 Apr 20 15:31 input_250_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra  1123362582 Apr 21 00:39 input_300_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra   268333518 Apr 20 23:57 input_300_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra   858477158 Apr 21 00:08 input_300_cells_part2.h5ad
-rw-r--r--. 1 ignacio.ibarra   925116178 Apr 19 12:13 input_5000_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra   455374599 Apr 21 10:29 input_500_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra 49329122188 Apr 19 23:42 input_all_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra  6458656013 Apr 19 22:32 input_all_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra 45725552720 Apr 19 23:13 input_all_cells_part2.h5ad

In [46]:
ll ../../data/integration_march_2021/input/

total 125047067
drwxr-xr-x. 2 ignacio.ibarra          11 Apr 18 18:12 bydataset/
-rw-r--r--. 1 ignacio.ibarra  3894492093 Apr 21 09:21 input_1000_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra   889286985 Apr 21 09:12 input_1000_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra  3018091792 Apr 21 09:20 input_1000_cells_part2.h5ad
-rw-r--r--. 1 ignacio.ibarra   111307671 Apr 19 16:55 input_150_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra  7399179519 Apr 21 09:38 input_2000_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra  1620421099 Apr 21 09:26 input_2000_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra  5779137718 Apr 21 09:36 input_2000_cells_part2.h5ad
-rw-r--r--. 1 ignacio.ibarra   216535898 Apr 20 15:31 input_250_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra  1123362582 Apr 21 00:39 input_300_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra   268333518 Apr 20 23:57 input_300_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra   858477158 Apr 21 00:08 input_300_cells_part2.h5ad
-rw-r--r--. 1 ignacio.ibarra   925116178 Apr 19 12:13 input_5000_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra   463388655 Apr 21 11:52 input_500_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra 49329122188 Apr 19 23:42 input_all_cells.h5ad
-rw-r--r--. 1 ignacio.ibarra  6458656013 Apr 19 22:32 input_all_cells_part1.h5ad
-rw-r--r--. 1 ignacio.ibarra 45725552720 Apr 19 23:13 input_all_cells_part2.h5ad

In [197]:
p500_1 = '../../data/integration_march_2021/input/input_500_cells_part1.h5ad'
p500_2 = '../../data/integration_march_2021/input/input_500_cells_part2.h5ad'
p500_12 = '../../data/integration_march_2021/input/input_500_cells.h5ad'
ad1 = sc.read_h5ad(p500_1)
ad2 = sc.read_h5ad(p500_2)
ad = sc.read_h5ad(p500_12)

In [198]:
ad1.shape, ad2.shape

((17712, 8314), (52126, 8125))

In [199]:
ad2.obs.dataset.value_counts()

Chen_a     20000
Roska      10107
Sanes       9019
Chen_b      7500
Hackney     5500
Name: dataset, dtype: int64

In [200]:
ad1.obs.dataset.value_counts()

Chen_c     10000
Hafler      2630
Scheetz     2582
Wong        2500
Name: dataset, dtype: int64

In [201]:
sum(ad.obs.dataset.value_counts())

69838

In [202]:
ad.obs.index.value_counts()

AGGCTGCCAGCAATTC-1-13:Chen_c:13     1
GAGGGATTCGAACCTA-1-25:Chen_a:25     1
CELL4006608-8:Hackney:8             1
TTAGTCTTCGTTCCTG-1-29:Chen_a:29     1
CTGTTTACATGAAGTA-1_3-18:Roska:18    1
                                   ..
GGTCACGCACACCTAA-1-34:Chen_a:34     1
CTTCTCTGTTTGACAC-1_2-16:Roska:16    1
TTTCATGGTAGCGAGT-1-2:Chen_b:2       1
TCACGGGCATCATCTT-1-1:Scheetz:1      1
CACAACAAGAGCATAT-1-14:Chen_a:14     1
Length: 69838, dtype: int64

In [54]:
'TGAATCGAGAATTGCA-1-3:Chen_c:3' in ad2.obs.index

True

In [74]:
from os import listdir
from os.path import join

In [76]:
# check that bydatate only contain cells from that dataset
bydataset = '../../data/integration_march_2021/input/bydataset'
for f in listdir(bydataset):
    p = join(bydataset, f)
    print(p)
    ad = sc.read(p)
    print(ad.obs.dataset.value_counts())

../../data/integration_march_2021/input/bydataset/Sanes.h5ad
Sanes    75025
Name: dataset, dtype: int64
../../data/integration_march_2021/input/bydataset/Chen_a.h5ad
Chen_a    1338345
Name: dataset, dtype: int64
../../data/integration_march_2021/input/bydataset/Hackney.h5ad
Hackney    121779
Name: dataset, dtype: int64
../../data/integration_march_2021/input/bydataset/Chen_c.h5ad
Chen_c    192327
Name: dataset, dtype: int64
../../data/integration_march_2021/input/bydataset/Roska.h5ad
Roska    158641
Name: dataset, dtype: int64
../../data/integration_march_2021/input/bydataset/Scheetz.h5ad
Scheetz    4463
Name: dataset, dtype: int64
../../data/integration_march_2021/input/bydataset/Wong.h5ad
Wong    10708
Name: dataset, dtype: int64
../../data/integration_march_2021/input/bydataset/Chen_b.h5ad
Chen_b    254881
Name: dataset, dtype: int64
../../data/integration_march_2021/input/bydataset/Hafler.h5ad
Hafler    3559
Name: dataset, dtype: int64

In [107]:
import numpy as np
root = '../../../scib/scIB/'    
cc_files = {'mouse': [root + 'resources/s_genes_tirosh.txt',
                      root + 'resources/g2m_genes_tirosh.txt'],
            'human': [root + 'resources/s_genes_tirosh_hm.txt',
                      root + 'resources/g2m_genes_tirosh_hm.txt']}

In [115]:
s_genes, g2m_genes = [[g.strip() for g in open(p)] for p in cc_files['human']]

In [124]:
print(ad1.var.index.intersection(s_genes))
print(ad1.var.index.intersection(g2m_genes))

Index(['RPA2', 'CLSPN', 'NASP', 'USP1', 'MSH2', 'SLBP', 'GMNN', 'RFC2', 'MCM4',
       'HELLS', 'RRM1', 'POLD3', 'PRIM1', 'UNG', 'UBR7', 'WDR76', 'TIPIN',
       'TYMS', 'PCNA'],
      dtype='object')
Index(['PSRC1', 'ANP32E', 'CKS1B', 'LBR', 'SMC4', 'ECT2', 'HMGB2', 'CKS2',
       'TUBB4B', 'KIF20B', 'CKAP5', 'NCAPD2', 'CBX5', 'TMPO', 'CKAP2', 'G2E3',
       'CTCF', 'RANGAP1'],
      dtype='object')

In [125]:
ad1.var.index

Index(['SAMD11', 'NOC2L', 'HES4', 'SDF4', 'UBE2J2', 'ACAP3', 'DVL1',
       'AURKAIP1', 'CCNL2', 'MRPL20',
       ...
       'MT-CO2', 'MT-ATP8', 'MT-ATP6', 'MT-CO3', 'MT-ND3', 'MT-ND4L', 'MT-ND4',
       'MT-ND5', 'MT-ND6', 'MT-CYB'],
      dtype='object', length=8294)

In [153]:
ad1.var_names = ad1.var.index.astype(str)

In [152]:
ad1.var_names

Index(['SAMD11', 'NOC2L', 'HES4', 'SDF4', 'UBE2J2', 'ACAP3', 'DVL1',
       'AURKAIP1', 'CCNL2', 'MRPL20',
       ...
       'MT-CO2', 'MT-ATP8', 'MT-ATP6', 'MT-CO3', 'MT-ND3', 'MT-ND4L', 'MT-ND4',
       'MT-ND5', 'MT-ND6', 'MT-CYB'],
      dtype='object', name='index', length=8294)

In [154]:
# s_genes, g2m_genes
# sc.tl.score_genes_cell_cycle(ad1, s_genes, g2m_genes)

In [137]:
### Cell Cycle
def score_cell_cycle(adata, organism='mouse'):
    """
    Tirosh et al. cell cycle marker genes downloaded from
    https://raw.githubusercontent.com/theislab/scanpy_usage/master/180209_cell_cycle/data/regev_lab_cell_cycle_genes.txt
    return: (s_genes, g2m_genes)
        s_genes: S-phase genes
        g2m_genes: G2- and M-phase genes
    """
    # import pathlib
    # root = pathlib.Path(__file__).parent
    root = '../../../scib/scIB/'    
    cc_files = {'mouse': [root + 'resources/s_genes_tirosh.txt',
                          root + 'resources/g2m_genes_tirosh.txt'],
                'human': [root + 'resources/s_genes_tirosh_hm.txt',
                          root + 'resources/g2m_genes_tirosh_hm.txt']}
    
    s_genes = [x.strip() for x in open(cc_files[organism][0]) if x.strip() in adata.var.index]
    g2m_genes = [x.strip() for x in open(cc_files[organism][1]) if x.strip() in adata.var.index]
    
    print((s_genes))
    print((g2m_genes))
    if (len(s_genes) == 0) or (len(g2m_genes) == 0):
        rand_choice = np.random.randint(1,adata.n_vars,10)
        rand_genes = adata.var_names[rand_choice].tolist()
        raise ValueError(f"cell cycle genes not in adata\n organism: {organism}\n varnames: {rand_genes}")
    
    sc.tl.score_genes_cell_cycle(adata, s_genes, g2m_genes)

In [158]:
a = ['PCNA', 'TYMS', 'MCM4', 'RRM1', 'UNG', 'PRIM1', 'HELLS', 'RFC2', 'RPA2', 'NASP', 'GMNN', 'WDR76', 'SLBP', 'UBR7', 'POLD3', 'MSH2', 'TIPIN', 'USP1', 'CLSPN']
b = ['HMGB2', 'CKS2', 'CKS1B', 'TMPO', 'SMC4', 'CKAP2', 'ANP32E', 'TUBB4B', 'KIF20B', 'RANGAP1', 'NCAPD2', 'ECT2', 'PSRC1', 'LBR', 'CKAP5', 'CTCF', 'G2E3', 'CBX5']

In [ ]:
pbmc = sc.datasets.pbmc3k()
pbmc = pbmc[:,pbmc.var.index.isin(ad_sel.var.index)]

In [166]:
score_cell_cycle(pbmc, organism='human')

['MCM5', 'PCNA', 'TYMS', 'FEN1', 'MCM2', 'MCM4', 'RRM1', 'UNG', 'GINS2', 'MCM6', 'CDCA7', 'DTL', 'PRIM1', 'HELLS', 'RFC2', 'RPA2', 'NASP', 'RAD51AP1', 'GMNN', 'WDR76', 'SLBP', 'CCNE2', 'UBR7', 'POLD3', 'MSH2', 'ATAD2', 'RAD51', 'RRM2', 'CDC45', 'CDC6', 'EXO1', 'TIPIN', 'DSCC1', 'BLM', 'USP1', 'CLSPN', 'POLA1', 'CHAF1B', 'BRIP1', 'E2F8']
['HMGB2', 'CDK1', 'NUSAP1', 'UBE2C', 'BIRC5', 'TPX2', 'TOP2A', 'NDC80', 'CKS2', 'NUF2', 'CKS1B', 'MKI67', 'TMPO', 'CENPF', 'TACC3', 'FAM64A', 'SMC4', 'CCNB2', 'CKAP2L', 'CKAP2', 'AURKB', 'BUB1', 'KIF11', 'ANP32E', 'TUBB4B', 'GTSE1', 'KIF20B', 'HJURP', 'CDCA3', 'HN1', 'CDC20', 'TTK', 'CDC25C', 'KIF2C', 'RANGAP1', 'NCAPD2', 'DLGAP5', 'CDCA2', 'CDCA8', 'ECT2', 'KIF23', 'HMMR', 'AURKA', 'PSRC1', 'ANLN', 'LBR', 'CKAP5', 'CENPE', 'CTCF', 'NEK2', 'G2E3', 'GAS2L3', 'CBX5', 'CENPA']

In [159]:
ad_sel = ad1[:,ad1.var.index.isin(a) | ad1.var.index.isin(b)]

In [160]:
ad_sel

View of AnnData object with n_obs × n_vars = 17711 × 37
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'dataset', 'filename', 'batch', 'cell.type', 'n_counts'
    layers: 'counts'

In [171]:
del ad_sel.raw

In [172]:
score_cell_cycle(ad_sel, organism='human')

['PCNA', 'TYMS', 'MCM4', 'RRM1', 'UNG', 'PRIM1', 'HELLS', 'RFC2', 'RPA2', 'NASP', 'GMNN', 'WDR76', 'SLBP', 'UBR7', 'POLD3', 'MSH2', 'TIPIN', 'USP1', 'CLSPN']
['HMGB2', 'CKS2', 'CKS1B', 'TMPO', 'SMC4', 'CKAP2', 'ANP32E', 'TUBB4B', 'KIF20B', 'RANGAP1', 'NCAPD2', 'ECT2', 'PSRC1', 'LBR', 'CKAP5', 'CTCF', 'G2E3', 'CBX5']

/home/icb/ignacio.ibarra/miniconda3/envs/mypython3/lib/python3.7/site-packages/pandas/core/arrays/categorical.py:2487: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_unused_categories is deprecated and will be removed in a future version.
  res = method(*args, **kwargs)
/home/icb/ignacio.ibarra/miniconda3/envs/mypython3/lib/python3.7/site-packages/pandas/core/arrays/categorical.py:2487: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_unused_categories is deprecated and will be removed in a future version.
  res = method(*args, **kwargs)
/home/icb/ignacio.ibarra/miniconda3/envs/mypython3/lib/python3.7/site-packages/pandas/core/arrays/categorical.py:2487: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_unused_categories is deprecated and will be removed in a future version.
  res = method(*args, **kwargs)
/home/icb/ignacio.ibarra/miniconda3/envs/mypython3/lib/python3.7/site-packages/pandas/core/arrays/categorical.py:2487: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_unused_categories is deprecated and will be removed in a future version.
  res = method(*args, **kwargs)

In [173]:
print(ad1.var_names)
print(ad1.raw.var_names)

Index(['SAMD11', 'NOC2L', 'HES4', 'SDF4', 'UBE2J2', 'ACAP3', 'DVL1',
       'AURKAIP1', 'CCNL2', 'MRPL20',
       ...
       'MT-CO2', 'MT-ATP8', 'MT-ATP6', 'MT-CO3', 'MT-ND3', 'MT-ND4L', 'MT-ND4',
       'MT-ND5', 'MT-ND6', 'MT-CYB'],
      dtype='object', name='index', length=8294)
Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '32728', '32729', '32730', '32731', '32732', '32733', '32734', '32735',
       '32736', '32737'],
      dtype='object', length=32738)

In [ ]:
test_with_

In [174]:
p = '/storage/groups/ml01/workspace/ignacio.ibarra/theislab/retinal_scRNAseq_integration/scIB_run/retinal_march_2021_500_cells/prepare/unscaled/hvg/adata_pre.h5ad'
ad = sc.read_h5ad(p)

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

In [180]:
ad.obs.index.value_counts()

ACCTGAACACGCGCTA-1-1:Scheetz:1       2
GTCACTCGTCAGATTC-1-17:Chen_c:17      2
TGACCCTGTGAGCAGT-1-2:Hafler:2        2
TGTGTGACAATTCTCT-1-17:Chen_c:17      2
TGGGCTGGTGCTGCAC-1-1:Scheetz:1       2
                                    ..
CCGTACTCAGATCCAT-1-10:Roska:10       1
ACGTCAACACAGCGTC-1-3:Sanes:3         1
CAACCTCAGCCGCTTG-1_4-30:Chen_a:30    1
ATCGGCGCACCCTGAG-1-12:Chen_a:12      1
TAACTTCGTGCACATT-1-6:Chen_a:6        1
Length: 69843, dtype: int64